body {
    font-family: "Courier New", Courier, monospace;
    background: rgb(198, 198, 199);
}
.container {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}
.button-container {
    max-width: 260px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.white-bg {
    background: #f6f8f9;
}
.dark-bg {
    background: #1d1e20;
}

.control {
    width: 120px;
    background: #e9eaed;
    /* background: #32333d; */
    border-radius: 10px;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.d {
    background: #32333d;
}
.w {
    background: #e9eaed;
}

.screen {
    height: 200px;
    /* background: #f6f8f9; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.status {
    min-height: 60px;
}
.screen-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 20px;
    justify-content: flex-start;
}

.screen-body p {
    color: rgb(181, 183, 184);
    font-weight: 500;
}

.screen-body h1 {
    font-size: 40px;
    font-weight: 800;
}
.result {
    color: white;
}
